<!doctype html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personas | Listado</title>
</head>
<body>
<h1>Listado de personas</h1>
<ul>
    <li th:each="persona:${personas}">
        <span th:text="${persona.nombre}"></span>
        <span th:text="${persona.apellidos}"></span>
    </li>
</ul>
<form method="POST" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>

</body>
</html>