<!doctype html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reuniones | Listado</title>
</head>
<body>
<h1>Listado de reuniones</h1>
<ul>
    <li th:each="reunion:${reuniones}">
        <span th:text="${reunion.asunto}">Asunto</span>
        (<span th:text="${#temporals.format(reunion.fecha, 'dd-MM-yyyy')}">Fecha</span>)
    </li>
</ul>
</body>
</html>